<%- include('../partials/header.ejs') %>



</header>



<!-- ===========  A D D   P R O D U C T    F O R M    ============ -->

<section>
<div class="signup">
  <h2>Add Product</h2>
<form class="signup__form" method="POST" action="/add-product">
  <label>Product Tite:</label>
     <input type="text" name="title" required>
  <label>Price:</label>
     <input type="text" name="price" required>
  <label>Description:</label>
     <textarea name="description" rows="8" cols="80" required>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
  <label>Brand:</label>
     <input type="text" name="brand" required>
  <label>Product Type:</label>
     <input type="text" name="productType" required>
  <label>Product Code:</label>
     <input type="text" name="productCode" required value="<%= number %>" >
 <label for="homeAddress">Image:</label>
  <input type="text" name="imagePath">

  <button type="submit" name="submit">Add</button>
</form>
</div>
</section>



<%- include('../partials/footer.ejs') %>
