<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add Product</title>
</head>
<body>
    <section id="header">
        <div class="head-text">
        <h3>Cash Sales</h3>
        <div class="navs">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Search</a>
       </div>
   </div>
    </section>

    <section id="create">
        <h2>New Product</h2>
        <div class="create-form">
        <form action="/product" method="POST">
            <label for="title">Producut Title:</label>
            <input type="text" name="product">
            <label for="title">Description:</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            <label for="title">Price:</label>
            <input type="text" name="price">
            <input type="file" name="img">
            <input type="submit" value="add">
        </form>
    </div>
    </section>
</body>
</html>