<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section id="header">
        <div class="head-text">
        <h3>Cash Sales</h3>
        <div class="navs">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="#">Search</a>
       </div>
   </div>
    </section>

    <section id="about-1">
        <h2>About Us</h2>
        <p>
            Full description on the product and location of the produc
            Full description on the product and location of the produc
            Full description on the product and location of the produc
            Full description on the product and location of the produc
            Full description on the product and location of the produc
            Full description on the product and location of the produc
            Full description on the product and location of the produc
            Full description on the product and location of the produc
        </p>
    </section>

</body>
</html>