<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section id="header">
        <div class="head-text">
        <h3>Cash Sales</h3>
        <div class="navs">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="#">Search</a>
       </div>
   </div>
    </section>

    <section id="create">
        <h2>New Product</h2>
        <div class="create-form">
        <form action="#" method="post">
            <label for="title">Producut Title:</label>
            <input type="text">
            <label for="title">Description:</label>
            <input type="text" style="height: 100px;">
            <label for="title">Price:</label>
            <input type="text">
            <label for="img">Upload Image:</label>
            <input type="file">
        </form>
    </div>
    </section>
</body>
</html>