<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
    <section id="header">
        <div class="head-text">
        <h3>Cash Sales</h3>
        <div class="navs">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="sales.html">Sales</a>
        <a href="create.html">Add Product</a>
       </div>
   </div>
    </section>

    <section id="content-1">
        <h2>Top Sales</h2>
    </section>

    <section>
        <div class="content">
            <img class="img-detail" src="product.jpg" alt="....">
            <h2>Product Title</h2>
            <h3>Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product
                Full description on the product and location of the product

            </h3>
            <p><b>$131.00</b></p>
        </div>
    </section>

    </div>
</body>
</html>