 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
     <title>Home</title>
 </head>
 <body>
     <div id="container">
     <section id="header">
         <div class="head-text">
         <h3>Cash Sales</h3>
         <div class="navs">
         <a href="index.html">Home</a>
         <a href="about.html">About</a>
         <a href="sales.html">Sales</a>
         <a href="create.html">Add Product</a>
        </div>
    </div>
     </section>

     <section id="content-1">
         <h2>Top Sales</h2>
     </section>

<section id="sales-content">
    <div class="sales-box">
        <a href="details.html">
        <img src="product.jpg" alt="...">
        <div class="sales-text">
        <h2>Product Title</h2>
        <p>Full description on the product and location of the product</p>
        <p><b>$131.00</b></p>
    </div>
</a>
 </div>

    <div class="sales-box">
        <img src="product-2.jpg" alt="...">
        <div class="sales-text">
        <h2>Product Title</h2>
        <p>Full description on the product and location of the product</p>
        <p><b>$131.00</b></p>
    </div>
    </div>

    <div class="sales-box">
        <img src="product.jpg" alt="...">
        <div class="sales-text">
        <h2>Product Title</h2>
        <p>Full description on the product and location of the product</p>
        <p><b>$131.00</b></p>
    </div>
    </div>

    <div class="sales-box">
        <img src="product-3.jpg" alt="...">
        <div class="sales-text">
        <h2>Product Title</h2>
        <p>Full description on the product and location of the product</p>
        <p><b>$131.00</b></p>
    </div>
    </div>

    <div class="sales-box">
        <img src="product.jpg" alt="...">
        <div class="sales-text">
        <h2>Product Title</h2>
        <p>Full description on the product and location of the product</p>
        <p><b>$131.00</b></p>
    </div>
    </div>

    <div class="sales-box">
        <img src="product-2.jpg" alt="...">
        <div class="sales-text">
        <h2>Product Title</h2>
        <p>Full description on the product and location of the product</p>
        <p><b>$131.00</b></p>
    </div>
    </div>

    <div class="sales-box">
        <img src="product.jpg" alt="...">
        <div class="sales-text">
        <h2>Product Title</h2>
        <p>Full description on the product and location of the product</p>
        <p><b>$131.00</b></p>
    </div>
    </div>

    <div class="sales-box">
        <img src="product-3.jpg" alt="...">
        <div class="sales-text">
        <h2>Product Title</h2>
        <p>Full description on the product and location of the product</p>
        <p><b>$131.00</b></p>
    </div>
    </div>

</section>

</div>
 </body>
 </html>