<!-- =========  F O O T E R   ======== -->


<footer>
<div class="foot">
  <h2>Spoty</h2>
  <div class="foot-list">
    <div class="f-list">
      <h4>COMPANY</h4>
      <li>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Case Studies</a>
        <a href="#">Blog</a>
      </li>
      </div>

      <div class="f-list">
        <h4>ADDITIONAL INFORMATION</h4>
        <li>
          <a href="#">Terms of use</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Cookie Policy</a>
          <a href="#">Continuous Flow</a>
        </li>
        </div>

        <div class="f-list">
          <h4>CONTACT US</h4>
          <li>
            <a href="#">Contact Services</a>
            <a href="#">Customer Support</a>
            <a href="#">Request a Demo</a>
            <a href="#">FAQ</a>
          </li>
    </div>

  </div>

  <div class="last-foot">
    <h4>Have any Question? Call</h4>
    <h3>(+1) 127 522 7456</h3>
    <div class="s-icon">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

    <h5>Copyright &copy; 2021 Spoty. All right reserved.</h5>
  </div>
</div>
</footer>





<!-- =========== P O P U P    M E S S A G E ========= -->
<!-- PopUp -->
<!-- <div class="popup hide__popup">
  <div class="popup__content">
    <div class="popup__close">
      <svg>
        <a href="#"><i class="fa fa-times fa-lg" aria-hidden="true" style="color: #ddd;"></i></a>
      </svg>
    </div>
    <div class="popup__left">
      <div class="popup-img__container">
        <img class="popup__img" src="images/popup.jpg" alt="popup">
      </div>
    </div>
    <div class="popup__right">
      <div class="right__content">
        <h1>Get Discount <span>30%</span> Off</h1>
        <p>Sign up to our newsletter and save 30% for you next purchase. No spam, we promise!
        </p>
        <form action="#">
          <input type="email" placeholder="Enter your email..." class="popup__form">
          <a href="#">Subscribe</a>
        </form>
      </div>
    </div>
  </div>
</div> -->


  <!-- Glide Carousel Script -->
    <script src="/cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

     <!-- Animate On Scroll
       <script src="../unpkg.com/aos%402.3.1/dist/aos.js"></script>  -->

     <!-- Custom JavaScript -->
       <script src="/bundle.min.js"></script>




   </body>
 </html>
