<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food bulcker</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="icon.jpg">
  </head>
  <body>
<section id="nav">
  <div class="nav">
  <h1>Food Bulkers</h1>
  <div class="navs">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
  </div>
</section>

<section id="content-1">
  <div class="content-head">
    <img src="undraw.jpg" alt="">
    <div class="content-body">
    <h1>Free Recipes</h1>
    <p>This are offer and Promo for our new customers for those who
    are just our viewer. But to partake in the main Recipes Section
  you will need to either login of sign up if you are a new user</p>
    <a href="login.html">Login</a>
    <a href="signup.html">Sign up</a>
  </div>
  </div>
</section>

<section>
  <h1 class="Reci">Recipes</h1>
  <div class="line"></div>
  <div class="free-recipes">

    <div class="box">
      <img src="food.jpg" alt="...">
      <div class="txt">
        <h3>Starbulcks</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$12.34</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="food.jpg" alt="...">
      <div class="txt">
        <h3>pizza</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$4.97</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="food.jpg" alt="...">
      <div class="txt">
        <h3>Chicken Nuget</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$10.22</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="food.jpg" alt="...">
      <div class="txt">
        <h3>Cold Stone</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$14.08</b>
        <a href="#">Order</a>
      </div>
    </div>

<div class="more">
  <a href="main.html">View more</a>
</div>

<footer>
   <div class="foot">
    <p>Copyright 2021 @ production</p>
   </div>
</footer>
  </body>
</html>
