<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food bulcker</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
<section id="nav">
  <div class="nav">
  <h1>Food Bulkers</h1>
  <div class="navs">
    <a href="index.html">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
  </div>
</section>

<section>
  <div class="form-box">
    <h1>Login</h1>
    <div class="line-2"></div>
    <form>
      <label for="email">Email:</label>
      <input type="text" name="emal">
      <label for="password">Password:</label>
      <input type="password" name="password">
      <input type="submit" value="Login" class="submit">

    </form>
  </div>
</section>





<footer>
   <div class="foot">
    <p>Copyright 2021 @ production</p>
   </div>
</footer>
  </body>
</html>
