<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food bulcker</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>

<%- include('./partials/header.ejs') %>

<section>
    <h1 class="Reci">Food Recipes</h1>
  <div class="line"></div>
  <a href="/logout" class="logout-btn">Logout</a>
  <div class="free-recipes">

    <div class="box">
      <img src="/food.jpg" alt="...">
      <div class="txt">
        <h3>Starbulcks</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$12.34</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="/food.jpg" alt="...">
      <div class="txt">
        <h3>pizza</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$4.97</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="/food.jpg" alt="...">
      <div class="txt">
        <h3>Chicken Nuget</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$10.22</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="/food.jpg" alt="...">
      <div class="txt">
        <h3>Cold Stone</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$14.08</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="/food.jpg" alt="...">
      <div class="txt">
        <h3>Starbulcks</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$12.34</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="/food.jpg" alt="...">
      <div class="txt">
        <h3>pizza</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$4.97</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="/food.jpg" alt="...">
      <div class="txt">
        <h3>Chicken Nuget</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$10.22</b>
        <a href="#">Order</a>
      </div>
    </div>

    <div class="box">
      <img src="/food.jpg" alt="...">
      <div class="txt">
        <h3>Cold Stone</h3>
        <p> this are products that can satisfy all you needs and solve
        most of you problems under feeding all you just need to do is justify
      have a trial and you wll not regret it.</p>
        <b>$14.08</b>
        <a href="#">Order</a>
      </div>
    </div>

<div class="more">
  <a href="#">View more</a>
</div>

<%- include('./partials/footer.ejs') %>

  </body>
</html>
