<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Package</title>
</head>
<body>
    <section id="navs">
        <div class="head-text">
        <h3>Tech Home</h3>
    </div>
    <img src="/navs.JPG" alt="" id="dropdown-img">
    <div id="dropdown">
        <img src="/back.JPG" alt="..." id="back">
    <a href="/">Home</a>
    <a href="#">About</a>
    <a href="add-selection.html">Add Selections</a>
    <a href="selection.html">Selections</a>
</div>
</section>

    <section id="add">
<h1>Edt Package</h1>
<div class="forms">
    <form method="post" enctype="multipart/form-data" action="/">
      <label for="image">Upload Package Image</label>
      <input type="file" name="upl" accept="image/*" value="<%= data.img %>"  required >
        <label for="name">Package Name</label>
        <input type="text" name="name" value="<%= data.Title %>" required>
        <label for="description">Description</label>
        <textarea name="description" rows="8" cols="80" required><%= data.Description %></textarea>
        <label for="price">Price</label>
        <input type="text" name="price" value="<%= data.Price %>" required>
        <input type="submit" value="Add">
    </form>
</div>
    </section>

    <section id="footer">
        <div class="left">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Selections</a>

        <p>address: No.34,hillson street,
            arizona, Pheoniex, United State
        </p>
        </div>
        <div class="middle">
            <p>English(UK)</p>
            <p>English(US)</p>
            <p>French</p>
            <P>Espanol</P>
            <p>Spanish</p>
            <p>Portugis</p>
        </div>
        <div class="right">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Selections</a>

            <p>address: No.34,hillson street,
                arizona, Pheoniex, United State
            </p>
        </div>
    </section>

    <script>
        var navIcon = document.getElementById('dropdown-img');
        var navBar  = document.getElementById('dropdown');
        var navBack = document.getElementById('back');

        navIcon.addEventListener('click', function(){
            navBar.className = 'show';
            navIcon.className = 'hide';
        });

        navBack.addEventListener('click', function(){
            navBar.className = 'hide';
            navIcon.className = 'show';
        });
        </script>
</body>
</html>
