<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error || 404 Page</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600i,700,800|Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  </head>
  <body>

    <div class="error">
      <img src="404.svg" alt="404 Error">
        <div class="error">
          <h2>Page Not Found</h2>
          <h3>Try to refresh or try again later</h3>
          <a href="/"><button class="btn">Back to Home</button></a>
        </div>
       </div>
  </body>
</html>
