<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Class Activity</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <nav>
      <div class="all-navs">
       <div class="nav-name">
         <h3>Sandiv</h3>
       </div>
       <div class="navs">
         <li>
    <a href="index.html">Home</a>
    <a href="join-room.html">About</a>
    <a href="#">Contact</a>
    <a href="create-room.html">Books</a>
         </li>
       </div>
       </div>
    </nav>


<section>
  <div class="count">
  <h3>Class Activity</h3>
  <p>00:43</p>
  </div>
  <form>
    <h4>What is David's full name</h4>
    <label for="a">Sanni Justin</label>
    <input type="radio" name="a" value="A">
    <label for="a">Sanni Muhammed</label>
    <input type="radio" name="b" value="B">
    <label for="a">Sanni Abdul</label>
    <input type="range" name="c" value="C">
  </form>
</section>




  </body>
</html>
