<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sandiv</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <div class="all-navs">
       <div class="nav-name">
         <h3>Sandiv</h3>
       </div>
       <div class="navs">
         <li>
<a href="index.html">Home</a>
<a href="join-room.html">About</a>
<a href="room.html">Contact</a>
<a href="create-room.html">Books</a>
<a href="dashboard.html">Dashboard</a>
         </li>
       </div>
       </div>
    </nav>
    <section>
      <div class="S-1">
      <div class="img-1">
        <img src="./pics/one.png" alt="...">
      </div>
      <div class="note-1">
        <h2>Learning Skills</h2>
        <p>Improving your learning skills
is a great thing to do as a student.
To be a good learner you must be
a very good listener.
</p>
<button class="read-btn">
<a href="#">Read More</a>
</button>
      </div>
      </div>
    </section>

    <section>
      <div class="S-2">
        <h2>Online Books</h2>
        <div class="underline">
        </div>
        </div>
        <div class="books">
        <div class="img-books">
          <img src="./pics/books.png" alt="...">
        </div>

        <div class="img-books">
          <img src="./pics/books.png" alt="...">
        </div>

        <div class="img-books">
          <img src="./pics/books.png" alt="...">
        </div>

        <div class="img-books">
          <img src="./pics/books.png" alt="...">
        </div>
        </div>

        <button class="view-btn">
          <a href="#">View More</a>
          </button>
    </section>


    <section>
      <div class="S-3">
      <div class="img-1">
        <img src="./pics/two.png" alt="...">
      </div>
      <div class="note-2">
        <h2>Reading Skills</h2>
        <p>There is an old saying "Reader are Leaders”
          To improve in your reading skills you will
          must read as more of books.
          And try to make reading your daily food
          in other to aquire that very good reading
          skills
</p>
<button class="read-btn">
<a href="#">Read More</a>
</button>
      </div>
      </div>
    </section>


    <section>
      <div class="S-1">
      <div class="img-1">
        <img src="./pics/three.png" alt="...">
      </div>
      <div class="note-1">
        <h2>Education</h2>
        <p>There is an old saying "Reader are Leaders”
          To improve in your reading skills you will
          must read as more of books.
          And try to make reading your daily food
          in other to aquire that very good reading
          skills
</p>
<button class="read-btn">
<a href="#">Read More</a>
</button>
      </div>
      </div>
    </section>


    <div class="S-2">
      <h2>Subjects Sylabus</h2>
      <div class="underline">
      </div>
      </div>

<section id="sales-content">


   <div class="sales-box">
       <img src="./pics/ict.jpg" alt="...">
       <div class="sales-text">
       <h2>Product Title</h2>
       <p>Full description on the product and location of the product</p>
   </div>
   </div>

   <div class="sales-box">
    <img src="./pics/fmath.jpg" alt="...">
    <div class="sales-text">
    <h2>Product Title</h2>
    <p>Full description on the product and location of the product</p>
</div>
</div>

<div class="sales-box">
    <img src="./pics/hst.jpg" alt="...">
    <div class="sales-text">
    <h2>Product Title</h2>
    <p>Full description on the product and location of the product</p>
</div>
</div>

</section>

  </body>
</html>
