<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Room</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <nav>
      <div class="all-navs">
       <div class="nav-name">
         <h3>Sandiv</h3>
       </div>
       <div class="navs">
         <li>
    <a href="index.html">Home</a>
    <a href="join-room.html">About</a>
    <a href="#">Contact</a>
    <a href="create-room.html">Books</a>
         </li>
       </div>
       </div>
    </nav>

    <div class="S-2 sbj">
      <a href="room-form.html">
<img src="add.png" alt="..." class="add-img">
      </a>
      <h2>Mathematics Class</h2>
      </div>

    <section id="room-content">


       <div class="sales-box">
           <div class="sales-text">
           <h2>Geomerty</h2>
           <p>Full description on the product and location of the product</p>
       </div>
       <h3>posted: 10:23AM</h3>
       </div>
<a href="book.html">
       <div class="sales-box">
        <div class="sales-text">
        <h2>Quadratic Equation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
          </div>
    <h3>posted: 12:43PM</h3>
    </div>
    </a>

    <div class="sales-box">
        <div class="sales-text">
        <h2>Calculus</h2>
        <p>Full description on the product and location of the product</p>
    </div>
    <h3>posted: 08:04AM</h3>
    </div>

    <div class="sales-box">
        <div class="sales-text">
        <h2>Geomerty</h2>
        <p>Full description on the product and location of the product</p>
    </div>
    <h3>posted: 02:16PM</h3>
    </div>

    <div class="sales-box">
     <div class="sales-text">
     <h2>Quadratic Equation</h2>
     <p>Full description on the product and location of the product</p>
 </div>
 </div>

 <div class="sales-box">
     <div class="sales-text">
     <h2>Calculus</h2>
     <p>Full description on the product and location of the product</p>
 </div>
 </div>

 <div class="sales-box">
     <div class="sales-text">
     <h2>Geomerty</h2>
     <p>Full description on the product and location of the product</p>
 </div>
 </div>

 <div class="sales-box">
  <div class="sales-text">
  <h2>Quadratic Equation</h2>
  <p>Full description on the product and location of the product</p>
</div>
</div>

<div class="sales-box">
  <div class="sales-text">
  <h2>Calculus</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis aute irure dolor in reprehenderit in voluptate velit
     esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
     occaecat cupidatat non proident, sunt in culpa qui officia
     deserunt mollit anim id est laborum.</p>

</div>
</div>

    </section>

  </body>
</html>
